## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
prueba = 7
print(prueba)

7

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type (prueba)

int

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = "Ricardo Gabriel Burgos"

5) Crear una variable que contenga un número complejo

In [5]:
numcomplex = 5j

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [6]:
type(numcomplex)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
import math
numPi= round(math.pi, 4)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
primera = "True"
segunda = True

##No son lo mismo, primera es una variable tipo string conteniendo la palabra "True", mientras que segunda es de tipo booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9 (asumo que era el punto 8)

In [18]:
print("La primera variable es de tipo:", type(primera), "y la segunda de tipo", type(segunda))

La primera variable es de tipo: <class 'str'> y la segunda de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
resultado_suma = 50 + 6.848

11) Realizar una operación de suma de números complejos

In [20]:
complejo1= 1 + 10j
complejo2= 5 + 45j
print (complejo1 + complejo2)

(6+55j)

12) Realizar una operación de suma de un número real y otro complejo

In [22]:
nueva_suma= resultado_suma + complejo1
print(nueva_suma)

(57.848+10j)

13) Realizar una operación de multiplicación

In [23]:
print(12 * 13)

156

14) Mostrar el resultado de elevar 2 a la octava potencia

In [24]:
print (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [25]:
resultado_division= 27/4
print(resultado_division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [26]:
print(int(resultado_division))

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [28]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [29]:
parte1 = "Zapato"
parte2 = "Roto"
print(parte1 + parte2)

ZapatoRoto

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [30]:
"2" == 2
## Estamos comparando un string con un numero, por eso obtenemos False

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [33]:
int("2") == 2

## Tambien podria ser "2" == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [36]:
a = float ("3,8")

## El uso de coma "," causa problemas. En su lugar deberia usarse punto ".", es decir "3.8"

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [37]:
resta = 3
resta -= 10
print(resta)

-7

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [50]:
1 << 2
## Obtenemos "4" porque el operador "<<" realiza dos desplazamientos a la izquierda en bits, donde "1" en binario es "0b1" 
# por lo tanto al movernos 2 lugares a la izquierda obtenemos "0b100" que en decimal es "4". Notese que "desplazarse" significa mover donde hay bits y luego rellenar con ceros.
## El sistema de numeracion binaria es una representacion de un numero de nuestro sistema decimal a uno que la computadora pueda entender, siendo donde decimal se compone de 0 al 9,
# en binario solo existe el 0 y el 1.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [51]:
2 + "2"

## Nuevamente, estamos operando con un numero y un string, por lo tanto no son compatibles.
## Aunque se podrian cambiar con, por ejemplo, int() y str() para que sean iguales, los resultado serian diferente. En el caso de 2 + int("2") el resultado seria 4 como numero. 
# Mientras que str(2) + "2" el resultado seria "22"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
2 + int("2")

4

In [54]:
str(2) + "2"

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [59]:
texto = "Esto se repetira "
numero_veces= 4
print (texto * numero_veces + str(numero_veces), "veces")

Esto se repetira Esto se repetira Esto se repetira Esto se repetira 4 veces