## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [13]:
lista_ciudades = ["Washington", "Tokyo", "Paris", "Bogota", "Wales"]
print (lista_ciudades)

['Washington', 'Tokyo', 'Paris', 'Bogota', 'Wales']

2) Imprimir por pantalla el segundo elemento de la lista

In [14]:
print(lista_ciudades[1])

Tokyo

3) Imprimir por pantalla del segundo al cuarto elemento

In [15]:
print(lista_ciudades[1:4])

['Tokyo', 'Paris', 'Bogota']

4) Visualizar el tipo de dato de la lista

In [16]:
type(lista_ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [17]:
print(lista_ciudades[2:])

['Paris', 'Bogota', 'Wales']

6) Visualizar los primeros 4 elementos de la lista

In [18]:
print(lista_ciudades[:4])

['Washington', 'Tokyo', 'Paris', 'Bogota']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [19]:
lista_ciudades.append("Tokyo")
lista_ciudades.append("Los Angeles")

8) Agregar otra ciudad, pero en la cuarta posición

In [20]:
lista_ciudades.insert(3, "Madrid")

9) Concatenar otra lista a la ya creada

In [21]:
lista_diferenteCiudades = ["Masachuttes", "Brooklyn", "Brasilia"]
lista_ciudades.extend(lista_diferenteCiudades)

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [28]:
print(lista_ciudades.index("Tokyo"))
##Solo devuelve el indice del primer valor que encuentra en la lista

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [29]:
lista_ciudades.index("Jamaica")

ValueError: 'Jamaica' is not in list

12) Eliminar un elemento de la lista

In [30]:
lista_ciudades.remove("Madrid")

13) ¿Qué pasa si el elemento a eliminar no existe?

In [31]:
lista_ciudades.remove("Argentina")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [32]:
catcher = lista_ciudades.pop()
print(catcher)

Brasilia

15) Mostrar la lista multiplicada por 4

In [33]:
print(lista_ciudades * 4)

['Washington', 'Tokyo', 'Paris', 'Bogota', 'Wales', 'Tokyo', 'Los Angeles', 'Masachuttes', 'Brooklyn', 'Washington', 'Tokyo', 'Paris', 'Bogota', 'Wales', 'Tokyo', 'Los Angeles', 'Masachuttes', 'Brooklyn', 'Washington', 'Tokyo', 'Paris', 'Bogota', 'Wales', 'Tokyo', 'Los Angeles', 'Masachuttes', 'Brooklyn', 'Washington', 'Tokyo', 'Paris', 'Bogota', 'Wales', 'Tokyo', 'Los Angeles', 'Masachuttes', 'Brooklyn']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [34]:
tuple_numeros = 1, 2, 3, 4, 5, 6 ,7 , 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
print(type(tuple_numeros))
print(tuple_numeros)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [36]:
print(tuple_numeros[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [41]:
print (20 in tuple_numeros)
print (30 in tuple_numeros)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [44]:
ciudad = "Paris"
if (ciudad in lista_ciudades == False):
    lista_ciudades.append(ciudad)
    print ("Se Agrego " + ciudad + "a la Lista")
else:
    print(ciudad + " ya existe en la lista")

Paris ya existe en la lista

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [45]:
print(tuple_numeros.count(10))
print(lista_ciudades.count("Tokyo"))

1
2

21) Convertir la tupla en una lista

In [46]:
lista_numeros = list(tuple_numeros)

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [54]:
var1, var2, var3, *_= tuple_numeros
print(var1)
print(var2)
print(var3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [56]:
diccionario_geografia = {"Ciudad": lista_ciudades,
                        "Pais": "",
                        "Continente": ""}

24) Imprimir las claves del diccionario

In [57]:
print(diccionario_geografia.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [59]:
print(diccionario_geografia["Ciudad"])

['Washington', 'Tokyo', 'Paris', 'Bogota', 'Wales', 'Tokyo', 'Los Angeles', 'Masachuttes', 'Brooklyn']